<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Rover Results</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h2>Mars Rover: Comprehension - Please enter directions for each unit</h2>
<h4>Plateau Size: <span id="plateauX" th:text="${plateau.getSizeX()}"></span>
	<span id="plateauY" th:text="${plateau.getSizeY()}"></span></h4>

<form method="post" action="">

</form>

</body>
</html>
