<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Rover Results</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			let i = 1;
			let addButton = $('.addButton');
			let wrapper = $('.wrapper');
			$(addButton).click(function () {
				let fieldHTML = `<div> X<input type="number" name="rover[${i}][posX]" id="inputX" min="0" max="" value="0" required/> Y<input type="number" name="rover[${i}][posY]" id="inputX" min="0" max="" value="0"  required/> Direction<select name="rover[${i}][direction]"> <option value="N">N</option> <option value="S">S</option> <option value="E">E</option> <option value="W">W</option> </select> Instructions<input type="text" name="rover[${i}][instructions]" placeholder="LMR"/> <a href="javascript:void(0);" class="removeButton">Remove</a> <br> </div>`
				i++;
				$(wrapper).append(fieldHTML);
			});

			$(wrapper).on('click', '.removeButton', function (e) {
				e.preventDefault();
				$(this).parent('div').remove();
				i--;
			});
		});
	</script>
</head>
<body>
<h2>Mars Rover: Comprehension - Please enter directions for each unit</h2>
<h4>Plateau Size:
	<span id="plateauX" th:text="${plateau.getSizeX()}"></span>
	<span id="plateauY" th:text="${plateau.getSizeY()}"></span>
</h4>

<h4>Enter Coordinates and Instructions for Rovers</h4>
<h4>NOTE: If entering coordinates more than plateau size, it will default to plateau size. </h4>
<form action="#" id="roverForm" th:action="@{/result}" th:object="${squad}" method="POST">
	<div class="container">
		<div class="wrapper">
			<div>
				X<input type="number" name="rover[0][posX]" id="inputX" min="0" max="" value="0" required/>
				Y<input type="number" name="rover[0][posY]" id="inputY" min="0" max="" value="0" required/>
				Direction<select name="rover[0][direction]">
				<option value="N">N</option>
				<option value="S">S</option>
				<option value="E">E</option>
				<option value="W">W</option>
			</select>
				Instructions<input type="text" name="rover[0][instructions]" placeholder="LMR"/>
				<a href="javascript:void(0);" class="addButton" title="Add Rover">Add Rover</a>
			</div>
		</div>
	</div>
	<br>
	<input type="submit" name="submit" value="Execute Commands"/>
</form>


</body>
</html>
