<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Rover Results</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h2>Mars Rover: Comprehension - Please enter directions for each unit</h2>
<h4>Plateau Size: <span id="plateauX" th:text="${plateau.getSizeX()}"></span>
	<span id="plateauY" th:text="${plateau.getSizeY()}"></span></h4>

<h4>Enter Coordinates and Instructions for Rovers</h4>

<div class="container">
	<button class="addUnit">Add a rover</button>

	<form action="#" id="roverForm" th:action="@{/result}" th:object="${rover}" method="POST">
		<div>
			<label>
				X<input type="number" name="rover[posY]" placeholder="0" min="0" max='5'
				        required/>
				Y<input type="number" name="rover[posY]" placeholder="0" required/>
				Direction<select name="rover[direction]">
				<option value="N">N</option>
				<option value="S">S</option>
				<option value="E">E</option>
				<option value="W">W</option>
			</select>
				Instructions<input type="text" name="instructions" placeholder="LMR"/>
			</label>
		</div>
			<script type="text/javascript">
		window.onload = $(document).ready(function () {
			let wrapper = $(".container");
			let addButton = $(".addUnit");

			$(addButton).click(function (e) {
				e.preventDefault();
				$(wrapper).append('<div>' +
						'X<input type="number" name="rover[posX]" placeholder="0" required/> ' +
						'Y<input type="number" name="rover[posY]" placeholder="0" required/> ' +
						'Direction<select name="rover[direction]">' +
						'<option value="N">N</option>' +
						'<option value="S">S</option>' +
						'<option value="E">E</option>' +
						'<option value="W">W</option>' +
						'</select> ' +
						'Instructions<input type="text" name="instructions" placeholder="LMR"/> ' +
						'<a href="#" class="delete">Delete</a>' +
						'<br>' +
						'</div>')
			});

			$(wrapper).on("click", ".delete", function (e) {
				e.preventDefault();
				$(this).parent('div').remove();
			})
		})
	</script>
	<div class="form-row mx-auto">
		<button type="submit" class="btn-submit" id="btnSubmit">Submit</button>
	</div>
	</form>
</div>
</body>
</html>
