<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Mars Rover</title>
</head>
<body>
<form action="#" id="roverForm" th:action="@{/move}" th:object="${coordinates}" method="POST">
	<h2>Mars Rover: Comprehension 2030(maybe)</h2>

	<div class="form-row">
		<label for="plateauSize">Plateau Size</label>
		<input type="text" class="input-text input-text block w-100" id="plateauSize" name="plateauSize"
		       placeholder="0 0">
	</div>

	<div class="form-row">
		<label for="startPosition">Start Position</label>
		<input type="text" class="input-text input-text block w-100" id="startPosition" name="startPosition"
		       placeholder="0 0 N">
	</div>

	<div class="form-row">
		<label for="directions">Directions(No Spaces)</label>
		<input type="text" class="input-text input-text block w-100" id="directions" name="directions"
		       placeholder="LMR">
	</div>

	<div class="form-row mx-auto">
		<button type="submit" class="btn-submit" id="btnSubmit">Submit</button>
	</div>
<!--	<script src="submitForm.js"></script>-->
</form>
</body>
</html>
